@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

//variables colores
$azul:#3b2a98;
$blanco:#ffffff;


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    // &::-webkit-scrollbar{ // grosor"
    //     width: 1.3rem;
    // }

    // &::-webkit-scrollbar-track{ // color de fondo del scroll
    //     background: #ffffff;
    // }
    
    // &::-webkit-scrollbar-thumb{ // color barra scroll
    //     background: $azul;
    // }
}


body{
    font-family: 'Poppins', sans-serif;
    background: rgb(241, 241, 241);
    // background: rgb(235, 235, 235);
}


// nav superior
.nav-superior{
    background: $azul;
    padding: 1.7rem 0;

    .nav-container-superior{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 1.8rem;
            color: $blanco;
        }

        .iconos{
            margin: 0 0 0 4rem;

            a{
                color: $blanco;
                font-size: 1.8rem;
                margin: 0 .2rem;
            }
        }
    }
}

// navbar

// .menu{
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 4000;
//     background-color: #ffffff;
//     color: $azul;
//     border-bottom: 1px solid $azul;
// }

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 10000;
    padding: 2rem 0;

    // .logo{
    //     font-size: 2rem;
    //     margin-left: 30px;
    // }

    img{
        height: 7rem;
        width: 12rem;
        margin-left: 30px;
    }
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    font-size: 1.8rem;
    z-index: 10000;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0); /* con este se esconde */
    --transform: rotate(0deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* con este mostramos el submenu*/
    --transform: rotate(90deg); 
}


.menu__link{
     color: $azul;
     text-decoration: none;
     padding: 0 30px 0 20px;
     display: flex;
     height: 100%;
     align-items: center;

     &:hover{
        transform: scale(1.05);
     }
}

// .menu__link:hover{
//     background: #4b5e83;
// }

.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 1px;
    font-size: 2.5rem;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip); /* escondemos el submenu, ul dentro de li */
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: max-content;
    transform: translateY(100%);
    background: #ffffff;
}

.menu__link--inside{
    padding: 13px 70px 13px 20px;
    font-size: 1.7rem;
}

.menu__link--inside:hover{
    background-color: $azul;
    color: #ffffff;
}



.menu__container .menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    font-size: 4rem;
}



//slider
.home{
    padding: 0 2%;
    // margin-top: 2rem;
    // background: #F8F2FC;

    .slide{
        mask-image: linear-gradient(white 90%,transparent);
        mask-size: cover;
        min-height: 78vh;
        background-size: cover !important; //se centra "casi" imagen
        background-position: 0 20% !important; // busca el centro de la imagen "abdomen"
        padding: 0 ;  // se mueve texto
        display: flex;       // centra el texto en pantalla "abdomen" 
        align-items: center; // centra el texto en pantalla "abdomen"
        // filter: brightness(50%);
        

        .content{
            width: 50%;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-90%, 50%);
            // text-align: center;

            h3{ 
                // text-align: center;
                font-size: 3.5rem;
                color: #000;
                display: block;
                // letter-spacing: 0.5rem;
                font-weight: 600;
            }

            p{
                color: #000;
                font-size: 2rem;
                margin-top: 3rem;
                // font-weight: bold;
            }
        }
    }

   
}  

.btn{
    padding: 2rem 4rem 2rem 4rem;
    background: $azul;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.7rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    font-weight: 500;
    box-shadow: 2px 2px 2px 1px $azul;
    border-radius: .5rem;

    &:hover{
      background: $azul;
      border: 1px solid #ffffff;
    }
  }

.swiper-pagination-bullet{
    height: 1.4rem;
    width: 1.4rem;
    background: rgb(108, 108, 108);
    border-radius: 50%;
    border: 3px solid $azul;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &.swiper-pagination-bullet-active{
        background: #ffffff00;
      }
}


// inicio items
.items-importantes{
    background: $azul;
    padding: 0 2%;

    .contenedor-items{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        text-align: center;
        color: $blanco;


        img{
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            margin-bottom: .5rem;
        }

        p{
            font-size: 2rem;
        }

        span{
            font-size: 1.6rem;
            color: #a7a7a7;
        }
    }
}

// categoria
.categorias{
    padding:4rem 2% 0 2%;
    text-align: center;
    

    h2{
        margin-bottom: 5rem;
        text-align: center;
        color: $azul;
        font-size: 3.5rem;
    }

    .container-categorias{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .items-categoria{
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            padding-bottom: 5rem;
            
            a{
                background: $azul;
                color: $blanco;
                padding: 1rem 4rem;
                font-size: 2rem;
            }

            img{
                margin-top: 3rem;
                height: 40rem;
                width: 30rem;
                object-fit: cover;
            }
        }
    }
}

// lentes para la familia
.lentes-familia{
    padding: 0 2%;

    h2{
        text-align: center;
        color: $azul;
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .container-lentes-familia{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .items-lentes-familia{
            margin-bottom: 3rem;
            margin: 0 auto;
            padding-bottom: 4rem;

            img{
                height: 30rem;
                width: 35rem;
                object-fit: cover;
            }

            p{
                font-size: 2.5rem;
                color:#494949;
                margin: .8rem 0;
            }

            a{
                font-size: 2rem;
                color:$azul;
            }
        }
    }
}

//acordeon
.accordion {
    display: flex;
    flex-direction: column;
    width:800px;
    margin: 30px auto;

    .titulos-acordeon{
        text-align: center;
        color: $azul;

        h3{
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }

        h2{
            font-size: 3.5rem;
            margin-bottom: 3rem;
        }
    }
  }

  .accordion-item {
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .accordion-header {
    background: rgb(241, 241, 241);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 1.8rem;
    margin: 1.5rem 0;
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
    color:#494949;
  }

  .active {
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
    padding: 5px 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }


// card reseñas  
// .card {
//     background-color: white;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
//     width: 300px;
//     text-align: center;
// }

// .card-img {
//     width: 100%;
//     height: auto;
// }

// .rating {
//     display: flex;
//     justify-content: center;
//     margin: 10px 0;
// }

// .star {
//     font-size: 24px;
//     color: gold;
// }

// .card-text {
//     padding: 0 15px 15px;
//     font-size: 16px;
//     color: #333;
// }

.blogs{
    // background:#EFEFEF;
    padding: 0 7%;
    
    h2{
        font-size: 3.5rem;
        margin-bottom: 3rem;
        color: $azul;
        text-align: center;
    }
    
    .slide{
      background: white;
      margin-bottom: 5rem ;
      border-radius: 2%;
  
      &:hover .image img{
        transform: scale(1.1);
      }
  
      .image{
        height: 25rem;
        width: 100%;
        overflow: hidden;
        border-radius: 2% 2% 0 0;
  
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 2% 2% 0 0;
        }
      }
  
      .content{
        padding: 2rem;
  
        .link{
          padding-bottom: .1rem;
          font-size: 1.8rem;
          display: flex;
          align-items: center;

          p{
            font-size: 1.8rem;
          }

          i{
            margin-left: .3rem;
          }
        }
      }
  
      p{
        font-size: 1.5rem;
        color: black;
        line-height: 1.5;
        padding: .5rem 0;
      }
    }
  }

//footer
.footer{
    margin: 6rem 0 0 0;
    padding: 0 3%;
    width: 100%;
      height: 100%;
      background: url(../img/footer1.png);
      background-attachment: fixed; /*imagen fija*/
      background-position: 50%;
      background-size: cover; /*toda la imagen*/
      position: relative;
      overflow: hidden;
      color: #fff;
      // text-align: center;
  
    .container-footer{
      display: flex;
      justify-content: space-between;
      margin: 3rem 0 3rem 0;
      flex-wrap: wrap;
  
      .sobre-nosotros-footer{
        width: 25%;
      }
  
      h3{
        font-size: 2.5rem;
        color: $blanco;
      }
  
      p{
        color: $blanco;
        font-size: 1.5rem;
      }
  
      hr{
        border: 1px solid rgb(255, 255, 255);
        width: 100%;
        margin: .5rem 0 2rem;
      }
    }
  
    .links-footer{
      display: flex;
      flex-direction: column;
      
      a{
        color: $blanco;
        font-size: 1.5rem;
        margin-bottom: .5rem;
      }
    }
  
    .categoria-footer{
      display: flex;
      flex-direction: column;
  
      a{
        color: $blanco;
        font-size: 1.5rem;
        margin-bottom: .5rem;
      }
    }
  
    .siguenos--footer{
      flex-direction: column;
      
      a{
        color: $blanco;
        font-size: 1.8rem;
        margin: 0 .2rem;
      }
    }
  
    .copy{
      padding: 1.5rem 0;
      text-align: center;
      background: rgba(11, 11, 149, 0.46);
      border-top: 2px solid rgb(255, 255, 255);
  
      span{
        font-size: 1.7rem;
  
        .span{
          color:rgb(255, 255, 255) ;
        }
      }
    }
  }
  
    
//estilos de sobre nosotros
figure{
    padding: 0 2%;
}
figure img{
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

.sobre-nosotros{
    // background: rgb(241, 241, 241);
    margin: 0 2%;

    .container-sobre-nosotros{
        text-align: center;
        justify-content: center;
        padding: 5rem 0;

        span{
            font-size: 1.8rem;
        }

        h2{
            padding: 2rem 0;
            font-size: 3rem;
        }

        p{
            padding: 0 6%;
            font-size: 1.5rem;
            color: #595959;
        }
    }
}


//nuestros servicios
.nuestros-servicios{
    background: $blanco;
    padding: 0 3%;

    .hola{
        padding-top: 7rem;
    }

    h2{
        text-align: center;
        padding: 5rem 0 6rem 0;
        font-size: 3.5rem;
        color: $azul;
    }


    .contenedor-nuestros-servicios{
        display: flex;
        align-items: center;
        
        

        img{
            height: 55rem;
            width: 50rem;
        }

        .contenedor-textos{
            margin:0% 5%;
            align-items: center;

            .img-servicios{
                display: flex;
                margin-bottom: 2rem;

                h3{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                p{
                    font-size: 1.6rem;
                    color: #595959;
                    letter-spacing: 1px;
                    line-height: 25px;
                }
            }

            .texto{

                img{
                   height: 7rem;
                   width: 7rem;
                   margin-right: 2rem;
                }
            }
        }
    }
}


//mapa
.mapa{
    text-align: center;

    h3{
        color: $azul;
        font-size: 3rem;
        margin: 3.5rem 0;
    }

    
}









@media (max-width:991px){
    html{
        font-size: 55%;
        scroll-padding: 7rem;
    }

    // .titulos .container-nosotros .textos-nosotros p{
    //     width: 90%;
    // }

    .swiper-slide img {
        width: 25rem;
        height: 25rem;
      }
      
    .accordion{
        width: 500px;
    }  
}

@media (max-width:960px){
    .nuestros-servicios .contenedor-nuestros-servicios{
        flex-wrap: wrap;
        justify-content: center;

        img{
            margin-bottom: 5rem;
        }
        
        .contenedor-textos{
            margin: 0 3%;
        }
    } 

    .mapa{
        .mapita{
            height: 350;
            width: 550px;
        }
    }
}


@media (max-width:800px) {
    header .menu .menu__container{
        width: 100%;
        max-width: 1200px;
        padding: 0 2rem;
    }

    .menu__container .menu__hamburguer{
        display: flex;

        &:hover{
            transform: rotate(180deg);
        }
    }

    .menu__item{
        --clip:0;
        overflow: hidden;
    }

    .menu__item--active{
        --transform: rotate(0); /* rotamos la flecha en responsivo*/
        --background: #5e7094;
    }

    // .menu__item--show{
    //     background-color: $rosado;
    // }

    .menu__links{
        z-index: 10000;
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 100px;
        bottom: 0;
        right: 0;
        background-color: #ffffff;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%); /*mostrar ocultar menu hamburgueesa*/
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset; /* lo regresa a su valor original, ya no esta posicionado absolutamente a su padre */
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: 3rem;
        border-left: 1px solid $azul;
        // background: rgb(246, 246, 213);
        // border-bottom: 1px solid $dorado;
        font-size: 1.8rem;
    }

    .contactos .datos-contactos{
        padding: 2rem 6%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .contacto{
            margin-top: 2rem;
        }
    }

    //slider
    .home .swiper .swiper-wrapper .slide .content{
        transform: translate(-50%, 50%);
        text-align: center ;
    }

}

@media (max-width:700px){
    .home .swiper .swiper-wrapper .slide{
        mask-image: linear-gradient(white 85%,transparent);
    }

    .home .swiper .swiper-wrapper .slide .content{
        transform: translate(-50%, 15%);
        text-align: center ;
        width: 75%;
    }

    .footer .container-footer{
        display: flex;
        flex-direction: column;
    
        hr{
          width: 50%;
        }
      }
    
      .footer .container-footer .sobre-nosotros-footer{
        width: 90%;
        margin-bottom: 3.5rem;
      }

      .footer .container-footer .links-footer{
        margin-bottom: 3.5rem;
      }

      .footer .container-footer .categoria-footer{
        margin-bottom: 3.5rem;
      }
}


@media (max-width:600px){
    .items-importantes .contenedor-items{

        img{
            width: 3rem;
            height: 3rem;
        }

        p{
            font-size: 1.8rem;
        }

        span{
            font-size: 1.4rem;
        }
        
    }

    .categorias .container-categorias .items-categoria{
        // a{  
        //     padding: .8rem 3.8rem;
        //     font-size: 1.8rem;
        // }

        img{
            height: 35rem;
            width: 25rem;
        }
    }

    .accordion{
        width: 350px;
        margin: 15px auto;
    } 


    .nuestros-servicios .contenedor-nuestros-servicios{
        flex-wrap: wrap;
        justify-content: center;

        img{
            height: 35rem;
            width: 30rem;
        }
        
        .contenedor-textos{
            margin: 0 3%;

            .img-servicios{
                h3{
                    font-size: 1.7rem;
                }

                p{
                    font-size: 1.4rem;
                    line-height: 20px;
                }
            }

            .texto img{
                height: 5rem;
                width: 5rem;
            }
        }
    } 

    .mapa{
        .mapita{
            height: 200px;
            width: 350px;
        }
    }

}


@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home{
        padding: 0;
    }

    .home .slide{
        background-position: 20% 20% !important;
    }

    .menu img{
        height: 6rem;
        width: 10rem;
    }
}

@media (max-width:420px){
    .categorias .container-categorias .items-categoria{
        img{
            height: 45rem;
            width: 35rem;
        }
    }

    .accordion{
        width: 330px;
    } 

    .mapa{
        .mapita{
            height: 200px;
            width: 300px;
        }
    }
}